<!-- templates/delete_user.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Delete User</title>
</head>
<body>
    <h1>Delete User</h1>
    <p>Are you sure you want to delete the user {{ user.first_name }} {{ user.last_name }}?</p>
    <form method="post" action="{{ url_for('delete_user', user_id=user.id) }}">
        <button type="submit">Delete User</button>
    </form>
    <a href="{{ url_for('index') }}">Cancel</a>
</body>
</html>
